.characters__image {
	width: 200px;
	height: 200px;
	margin: 8px 0;
}

@media screen and (min-width: 768px) {

    .characters__image {
        width: 150px;
        height: 150px;
        margin: 8px 0;
    }
}

@media screen and (min-width: 1024px) {

    .characters__image {
        width: 200px;
        height: 200px;
        margin: 8px 0;
    }
}