.header {
    align-items: center;
    background-color: #191970;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding: .75rem 6%;
    width: 100%;
}

@media screen and (min-width: 768px) {
    .header {
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
    }
}